
<% if user_signed_in? %>
  <div id="walk-me-home">
      <%= link_to image_tag("walk-me-home-btn.png") %>
  </div>
<% else %>
  <div>
    <h1>Welcome</h1>
    Please <%= link_to 'login', new_user_session_path %> or <%= link_to 'register', new_user_registration_path %>.
  </div>
<% end %>

<div id="home-safely">
  <%= link_to image_tag("i-am-home.png") %>
</div>

<div id="show-events">
  <%= link_to image_tag("i-am-home.png") %>
</div>
